<div class="alert alert-block alert-info">
⚠️All notebooks should start with the following cell ⚠️.
<br>
<br>
This will ensure that the notebook is set in the correct working directory and that all internal modules can be loaded without setting an entry point.
</div>

In [2]:
from utils import setup_env_path

setup_env_path()

%load_ext autoreload
%autoreload 2

Former working directory:  /home/juldpnt/APT/fil-rouge-pollinisateurs/notebooks
Current working directory:  /home/juldpnt/APT/fil-rouge-pollinisateurs

Then, you can easily import data from the `data` folder...

In [3]:
import pandas as pd

path = "data/governmental_data/datagouv_codespostaux.csv"
df = pd.read_csv(path, sep=";")
df.head()

,#Code_commune_INSEE,Nom_de_la_commune,Code_postal,Libell�_d_acheminement,Ligne_5
0,01001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN
1,01002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN
2,01004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN
3,01005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN
4,01006,AMBLEON,1300,AMBLEON,NaN

and use internal modules from the `src` folder. These are yet relative imports, but this might change in the future.

In [4]:
from data_quality.plant_treatment.plantnet_api import PlantNetPredictor

predictor = PlantNetPredictor(key="a key")