In [1]:
# Chargement des librairies
import pandas as pd
import insect_classification_functions

In [2]:
# Chargement du jeu de données
df = pd.read_csv('data_insects\insect_sc_modified_without_pp.csv')

In [ ]:
# Identification des espèces non présentes dans les databases de pytaxize
unknown = insect_classification_functions.find_unknown(df, 'x')

In [ ]:
# Enregistrement des espèces inconnues
unknown_df = pd.DataFrame(unknown, columns=['Unknown'])
unknown_df.to_csv('data_insects\insects_unknown.csv', index=False)

In [19]:
unknown = pd.read_csv('data_insects\insects_unknown_without_pp.csv')
unknown = unknown['Unknown'].tolist()
unknown[:10]

['Tettigonoidea',
 'Episyrphus balteatus',
 'Pyrrhocoris apterus',
 'cicadelles, cercopes et autres',
 'Gonepteryx cleopatra',
 'Macroglossum stellatarum',
 'Odynerus et autres',
 'Xysticus, Coriarachne, Ozyptila et autres',
 'Chrysolina americana',
 'Nymphalis polychloros']

In [20]:
# Suppression des lignes contenant des noms non retrouvés 
df = df[~df['x'].isin(unknown)]
len(df)

557664

In [21]:
# Remplacement de certaines valeurs qui bloquent
# Après avoir fait tourné le bloc ci-dessous
df = df.replace('Stelis, Heriades', 'Heriades')
df = df.replace('Ammophila, Hoplammophila', 'Hoplammophila')
df = df.replace('Allantus, Macrophya et autres', 'Allantus')
df = df.replace('Tibellus, Paratibellus', 'Tibellus')
df = df.replace('Tenthredo, Rhogogaster', 'Tenthredo')
df = df.replace('Nomioides, Celhalictus', 'Nomioides')

In [25]:
classif = insect_classification_functions.get_classification_df(df, 'x')

272
0 Apis mellifera
1 Bombus
2 Sarcophaga
3 Neomyia, Calliphora et autres
4 Diptera
5 Tephritidae et autres
6 Eupeodes, Scaeva
7 Meliscaeva et autres
8 Eristalis
9 Coleoptera
10 Nematocera
11 Pentatomidae
12 Formicinae
13 Aphididae
14 Xylocopa violacea
15 Syrphus, Dasysyrphus et autres
16 Sepsidae
17 Dolomedes, Pisaura
18 Cucujidae, Cryptophagidae et autres
19 Scathophaga et autres
20 Salticidae
21 Lycosidae
22 Coccinella septempunctata
23 Lepidoptera
24 Halictus, Lasioglossum et autres
25 Colletes cunicularius et autres
26 Andrena clarkella et autres
27 Apidae et autres
28 Polistes
29 Eucera et autres
30 Syrphinae
31 Merodon et autres
32 Andrenidae
33 Anthophora, Eucera
34 Chrysotoxum
35 Xylocopa
36 Andrenidae et autres
37 Chalcidoidea
38 Osmia cornuta et autres
39 Vanessa atalanta
40 Curculionidae, Apionidae
41 Coreidae
42 Araneidae
43 Ichneumonidae
44 Nitidulidae
45 Aglais urticae
46 Eristalinus
47 Heteroptera
48 Thaumatomyia
49 Larinus et autres
50 Stomorhina lunata
51 Stratiomys
52 Helophilus, Parhelophilus
53 Coccinellidae
54 Anthophora et autres
55 Allantus
56 Miridae
57 Pterophoridae
58 Sphaerophoria scripta
59 Andrena
60 Sphaerophoria
61 Tachinidae
62 Polygonia
63 Acrididae
64 Halictidae
65 Misumena
66 Oulema
67 Andrena fulva
68 Formicidae
69 Sphecodes et autres
70 Nomada et autres
71 Pieris
72 Sciaridae
73 Aculepeira, Neoscona
74 Araniella
75 Bombylius, Systoechus
76 Eristalinus taeniops
77 Melecta
78 Celastrina argiolus
79 Empis et autres
80 Oxyopes
81 Collembola
82 Carcharodus et autres
83 Gymnosoma
84 Thomisus
85 Pompilidae
86 Lygaeus
87 Allantus et autres
88 Allantus, Dolerus et autres
89 Tachina et autres
90 Synema globosum
91 Mesembrina
92 Megachile
93 Euchloe et autres
94 Conopidae
95 Leptidea
96 Argynnis et autres
97 Callophrys
98 Graphomya
99 Bibio et autres
100 Crabronidae
101 Conops et autres
102 Chrysomelidae
103 Cryptocephalus et autres
104 Lycaena phlaeas
105 Lygus lineolaris
106 Epeoloides coecutiens
107 Bruchus et autres
108 Vespula, Dolichovespula
109 Pyrausta
110 Dermestidae
111 Philodromus
112 Amegilla et autres
113 Vanessa cardui
114 Dasypoda
115 Geron
116 Tibellus
117 Runcinia grammica
118 Cylindromyia
119 Rhingia
120 Meloe
121 Ebrechtella tricuspidata
122 Myrmicinae
123 Heriades
124 Grammoptera et autres
125 Anthomyia et autres
126 Chrysopidae
127 Syritta
128 Rhynocoris
129 Tenthredo et autres
130 Cimbicidae
131 Scraptiidae
132 Coenonympha
133 Tenthredo
134 Dicranocephalus
135 Mordellidae
136 Scatopsidae
137 Colias
138 Geometridae
139 Cantharis
140 Phalangiidae
141 Ceratina cucurbitina
142 Valgus hemipterus
143 Hylaeus
144 Anthaxia et autres
145 Ceratina
146 Anthaxia
147 Papilio machaon
148 Nomioides
149 Elateridae
150 Protaetia
151 Diaea
152 Hoplammophila
153 Asilidae
154 Curculio et autres
155 Clytus et autres
156 Sphex et autres
157 Physophora et autres
158 Noctuidae
159 Pyrgus et autres
160 Oedemera
161 Cydnidae
162 Phymata crassipes
163 Andrena morio
164 Rhagonycha
165 Panorpidae
166 Phyllobius, Polydrusus
167 Limenitis
168 Sargus et autres
169 Chrysididae
170 Chloromyia
171 Anthidium et autres
172 Cephidae
173 Scutelleridae
174 Acmaeops et autres
175 Physocephala
176 Cantharis, Obrium et autres
177 Lycaena
178 Mycterus
179 Dermaptera
180 Zygaena
181 Raphidiidae
182 Trichopoda pennipes
183 Odontomyia, Oplodontha
184 Cantharis et autres
185 Rhagium
186 Rhagonycha fulva et autres
187 Cupido et autres
188 Melitaea et autres
189 Vespa crabro
190 Leptura et autres
191 Panurgus
192 Ropalopus et autres
193 Colletidae
194 Hemipenthes morio
195 Ephemeroptera
196 Donacia, Plateumaris
197 Pachyta et autres
198 Ochlodes, Thymelicus
199 Eilema
200 Acmaeodera et autres
201 Isodontia mexicana
202 Therevidae
203 Megalodontes
204 Cassida
205 Sesiidae
206 Glaphyra et autres
207 Erebia
208 Boudinotiana et autres
209 Lixus et autres
210 Villa
211 Coelioxys et autres
212 Cerceris
213 Lomatia
214 Lycidae
215 Scolia et autres
216 Plebejus
217 Satyrium
218 Meromyza
219 Blattellidae
220 Chlorophorus
221 Carterocephalus palaemon
222 Nemotelus
223 Andrena florea
224 Bembix
225 Andrena albopunctata
226 Timarcha
227 Exoprosopa
228 Epeolus
229 Callicera
230 Chrysops
231 Autographa gamma et autres
232 Mylabris et autres
233 Hypena et autres
234 Sceliphron caementarium
235 Laphria
236 Thyreus et autres
237 Temnostoma vespiforme
238 Prionyx kirbii
239 Atylotus, Silvius
240 Chlorophorus trifasciatus
241 Hesperia comma
242 Toxophora
243 Parnassius
244 Oxycera
245 Lampides, Leptotes
246 Baccha elongata
247 Andrena marginata
248 Nymphalis antiopa
249 Heriaeus
250 Colletes hederae
251 Anthidium punctatum
252 Mutillidae
253 Odontomyia
254 Eupithecia et autres
255 Thanatus
256 Stratiomys longicornis
257 Purpuricenus
258 Malthinus, Malthodes
259 Cyrtus gibbus
260 Agriades glandon
261 Sceliphron
262 Zanclognatha
263 Conophorus
264 Stratiomys singularior
265 Sceliphron curvatum
266 Noctua pronuba
267 Aspitates ochrearia
268 Clitellaria ephippium
269 Alucitidae
270 Aplocera
271 Oberea erythrocephala

In [26]:
# Création des colonnes Ordre, Super famille, Famille, Sous famille, Genre, Espèce
df['classification'] = df['x'].apply(lambda x: classif[x] if x in classif else None)

df['Ordre'] = df['classification'].apply(lambda x: x['Ordre'] if isinstance(x, dict) and 'Ordre' in x else None)
df['Super famille'] = df['classification'].apply(lambda x: x['Super famille'] if isinstance(x, dict) and 'Super famille' in x else None)
df['Famille'] = df['classification'].apply(lambda x: x['Famille'] if isinstance(x, dict) and 'Famille' in x else None)
df['Sous famille'] = df['classification'].apply(lambda x: x['Sous famille'] if isinstance(x, dict) and 'Sous famille' in x else None)
df['Genre'] = df['classification'].apply(lambda x: x['Genre'] if isinstance(x, dict) and 'Genre' in x else None)
df['Espèce'] = df['classification'].apply(lambda x: x['Espèce'] if isinstance(x, dict) and 'Espèce' in x else None)

df.head()

,x,classification,Ordre,Super famille,Famille,Sous famille,Genre,Espèce
0,Apis mellifera,"{'Ordre': 'Hymenoptera', 'Super famille': 'Apo...",Hymenoptera,Apoidea,Apidae,Apinae,Apis,Apis mellifera
1,Bombus,"{'Ordre': 'Hymenoptera', 'Super famille': 'Apo...",Hymenoptera,Apoidea,Apidae,Apinae,Bombus,
2,Bombus,"{'Ordre': 'Hymenoptera', 'Super famille': 'Apo...",Hymenoptera,Apoidea,Apidae,Apinae,Bombus,
3,Sarcophaga,"{'Ordre': 'Diptera', 'Super famille': '', 'Fam...",Diptera,,Sarcophagidae,Sarcophaginae,Sarcophaga,
4,Apis mellifera,"{'Ordre': 'Hymenoptera', 'Super famille': 'Apo...",Hymenoptera,Apoidea,Apidae,Apinae,Apis,Apis mellifera

In [27]:
# Enregistrement du nouveau dataframe
df = df.rename(columns={'x': 'Insecte'})
df_classif = df[['Insecte', 'Ordre', 'Super famille', 'Famille', 'Sous famille', 'Genre', 'Espèce']]
df_classif.to_csv('data_insects/insect_classification_without_pp.csv', index=False)
df_classif.head()

,Insecte,Ordre,Super famille,Famille,Sous famille,Genre,Espèce
0,Apis mellifera,Hymenoptera,Apoidea,Apidae,Apinae,Apis,Apis mellifera
1,Bombus,Hymenoptera,Apoidea,Apidae,Apinae,Bombus,
2,Bombus,Hymenoptera,Apoidea,Apidae,Apinae,Bombus,
3,Sarcophaga,Diptera,,Sarcophagidae,Sarcophaginae,Sarcophaga,
4,Apis mellifera,Hymenoptera,Apoidea,Apidae,Apinae,Apis,Apis mellifera