In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('insect_sc.csv')
df.head()

                x
0  Apis mellifera
1          Bombus
2          Bombus
3      Sarcophaga
4  Apis mellifera

In [4]:
df = df[0:100]
df

                                x
0                  Apis mellifera
1                          Bombus
2                          Bombus
3                      Sarcophaga
4                  Apis mellifera
..                            ...
95  Neomyia, Calliphora et autres
96                        Diptera
97                         Bombus
98  Neomyia, Calliphora et autres
99           Meliscaeva et autres

[100 rows x 1 columns]

In [5]:
# Valeurs uniques de df
unique = df["x"].unique()
unique = list(unique)
print(len(unique))
unique

26

['Apis mellifera',
 'Bombus',
 'Sarcophaga',
 'Tettigonoidea',
 'Neomyia, Calliphora et autres',
 'Diptera',
 'Tephritidae et autres',
 'Eupeodes, Scaeva',
 'Episyrphus balteatus',
 'Meliscaeva et autres',
 'Eristalis',
 'Coleoptera',
 'Geomyza tripunctata',
 'Nematocera',
 'Chironomidae',
 'Trichoceridae',
 'Pyrrhocoris apterus',
 'Thysanoptera',
 'Piezodorus lituratus',
 'Formicinae',
 'Aphididae',
 'Xylocopa violacea',
 'Syrphus, Dasysyrphus et autres',
 'Sepsidae',
 'Pisaura mirabilis',
 'Cucujidae, Cryptophagidae et autres']

In [6]:
for i in range(len(unique)):
    unique[i] = unique[i].replace(' et autres', '')
    unique[i] = unique[i].split(', ')
unique

[['Apis mellifera'],
 ['Bombus'],
 ['Sarcophaga'],
 ['Tettigonoidea'],
 ['Neomyia', 'Calliphora'],
 ['Diptera'],
 ['Tephritidae'],
 ['Eupeodes', 'Scaeva'],
 ['Episyrphus balteatus'],
 ['Meliscaeva'],
 ['Eristalis'],
 ['Coleoptera'],
 ['Geomyza tripunctata'],
 ['Nematocera'],
 ['Chironomidae'],
 ['Trichoceridae'],
 ['Pyrrhocoris apterus'],
 ['Thysanoptera'],
 ['Piezodorus lituratus'],
 ['Formicinae'],
 ['Aphididae'],
 ['Xylocopa violacea'],
 ['Syrphus', 'Dasysyrphus'],
 ['Sepsidae'],
 ['Pisaura mirabilis'],
 ['Cucujidae', 'Cryptophagidae']]

In [7]:
def classif_1(insecte_1):
    return insecte_1

def classif_2(insecte_1, insecte_2):
    return insecte_1, insecte_2

In [8]:
for i in range (len(unique)):
    length = len(unique[i])
    if length == 1:
        print(classif_1(unique[i][0]))
    elif length == 2:
        print(classif_2(unique[i][0], unique[i][1]))
    else:
        print("Erreur")

Apis mellifera
Bombus
Sarcophaga
Tettigonoidea
('Neomyia', 'Calliphora')
Diptera
Tephritidae
('Eupeodes', 'Scaeva')
Episyrphus balteatus
Meliscaeva
Eristalis
Coleoptera
Geomyza tripunctata
Nematocera
Chironomidae
Trichoceridae
Pyrrhocoris apterus
Thysanoptera
Piezodorus lituratus
Formicinae
Aphididae
Xylocopa violacea
('Syrphus', 'Dasysyrphus')
Sepsidae
Pisaura mirabilis
('Cucujidae', 'Cryptophagidae')

In [9]:
test = {'Apis mellifera' : {'a' : 1, 'b' : 2}, 'Bombus' : {'a' : 3, 'b' : 4}}

In [10]:
df['New'] = df['x'].apply(lambda x: test[x] if x in test else None)

In [11]:
df['a'] = df['New'].apply(lambda x: x['a'] if isinstance(x, dict) and 'a' in x else None)
df['b'] = df['New'].apply(lambda x: x['b'] if isinstance(x, dict) and 'b' in x else None)
df

                                x               New    a    b
0                  Apis mellifera  {'a': 1, 'b': 2}  1.0  2.0
1                          Bombus  {'a': 3, 'b': 4}  3.0  4.0
2                          Bombus  {'a': 3, 'b': 4}  3.0  4.0
3                      Sarcophaga              None  NaN  NaN
4                  Apis mellifera  {'a': 1, 'b': 2}  1.0  2.0
..                            ...               ...  ...  ...
95  Neomyia, Calliphora et autres              None  NaN  NaN
96                        Diptera              None  NaN  NaN
97                         Bombus  {'a': 3, 'b': 4}  3.0  4.0
98  Neomyia, Calliphora et autres              None  NaN  NaN
99           Meliscaeva et autres              None  NaN  NaN

[100 rows x 4 columns]